
.app {
  width: 100%;
  min-height: calc(100lvh + var(--row-height));
  padding: 0 var(--safe-inset-x);
  padding-top: var(--safe-inset-top);

  display: grid;
  gap: var(--gap);
  grid-template-columns:
    var(--left-width)         /* 1: k (key)     */
    var(--central-width)      /* 2: v (value)   */
    var(--right-width);       /* 3: o (options) */

  grid-template-rows:
    var(--header-height)      /* 1: title       */
    auto                      /* 2: form-kvo    */
    var(--h1-font-size)       /* 3: subtitle    */
    auto                      /* 4: filter-kv   */
    1fr                       /* 5: table-kvo   */
    auto;                     /* 6: totop-v     */

  grid-template-areas:
    'title title title'
    'form-kvo form-kvo form-kvo'
    'subtitle subtitle .'
    'filter-kv filter-kv .'
    'table-kvo table-kvo table-kvo'
    '. totop-v .';
}

.app h2 {
  font-size: var(--h2-font-size);
}