.footer {
  --f-size: min(2.7svw, calc(var(--safe-rem) * 1.4));
  --height: calc(var(--f-size) * 5);

  width: 100%;
  height: var(--height);
  padding: 0 var(--safe-inset-x);

  display: grid;
  gap: var(--gap);
  align-items: flex-end;
  grid-template-columns:
    var(--left-width)
    var(--central-width)
    var(--right-width);

  background-color: var(--background-color);
  box-shadow: inset 0
    calc(var(--height) * -0.8)
    calc(var(--height) * 0.2)
    calc(var(--height) * -0.5)
    var(--soft-input-color);
}

.footer * {
  text-decoration: none;
  font-size: var(--f-size);
  font-style: normal;
  font-family: 'Anton', system-ui, sans-serif;
  color: var(--background-color);
}

.footer > div {
  grid-column: 1;
}

.footer > address {
  grid-column: 2;
  text-align: center;
}

.footer > svg {
  grid-column: 3;
  text-align: left;
  position: relative;
  bottom: calc(var(--f-size) * 0.23);
  height: var(--f-size);
}

.footer > svg > circle {
  fill: var(--background-color);
}
